html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.main {
  margin-top: 20px;
}

a {
  cursor: pointer;
}

#mobile-nav {
  background-color: orange;
}

.slide {
  background-color: orange;
}
footer {
  display: block;
  text-align: center;
  padding: 10px 0;
  color: #777;
}
