html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.main {
  margin-top: 20px;
}

.card-view:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.11);
  z-index: 2;
}

nav {
  z-index: 2;
}

a {
  cursor: pointer;
}
ul li:hover {
  background-color: rgb(187, 124, 124);
}

#mobile-nav {
  background-color: #333;
}

#mobile-nav a {
  color: #eee;
}
#mobile-nav a:hover {
  background-color: rgb(187, 124, 124);
}

#mobile-nav h5 {
  text-align: center;
  margin: 15px;
  color: #eee;
}

.slide {
  padding-top: 15px;
  background-color: #eee;
}
footer {
  display: block;
  text-align: center;
  padding: 10px 0;
  color: #777;
}
